.pageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* //max-width: 120px; Adjust based on your needs */
}

.row_between_invoice {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  border-bottom: 1px solid gray;
}
.pos_tbl_invoice {
  width: 100%;
  border-collapse: collapse;
  border: 1pt solid rgb(229, 229, 229);
}
.pos_tbl_invoice tr {
  border-bottom: 1pt solid rgb(229, 229, 229);
}
.pos_tbl_invoice th,
td {
  text-align: left;
  font-size: 9px;
  padding: 2px;
}
/* print */
/* @media print {
  body {
    margin: 0;
    padding: 0;
  }

  div {
    width: 72mm;
    font-family: "monospace";
  }
} */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
